div {
  background-color: #313262;
  border: 1px solid #0B2545;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}


h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}


h3 a {
  text-decoration: none;
  color: #FFFFFF; 
  font-weight: 700;
  font-size: 1.5rem;
}

h3 a:hover {
  text-decoration: underline;
}


p {
  color: #dddddd; 
  font-size: 0.9rem;
  margin: 0;
  font-style: italic;
}